@import _fonts

body
    font-family: police
    --text-color: white

    /*navbarre*/
.emporium
    justify-content: center
    align-items: center
    text-align: center
    display: flex
    font-size: 45px
    font-weight: bold
.pos-f-t 
    background-color: white  
.center
    justify-content: center
    align-items: center
    display: flex
    gap: 10em
    background-color: white
    position: fixed-end
    color: #aaafb8
    text-decoration: none
.btn_nav
    gap: 15em
    display: flex
.nav
    color: black
    list-style-type: none
    style-decoration: none
    display: flex
    gap: 3em
    justify-content: center
    align-items: center
    text-align: left
    text-decoration: none
    // background-color: white
    text-align: center
.navbarr_all
    gap: 2em
    justify-content: left
    display: flex
    align-items: left
    text-decoration: none
    // background-color: white
.navbarre
    gap: 2em
    justify-content: left
    display: flex
    align-items: left
    text-align: left
    // background-color: transparent
    text-decoration: none
.btn_all
    gap: 0.5em
    display: flex
.connexion 
    border: #6c757d
    background-color: #6c757d
    color: white
    height: 2em
    width: 6em
    justify-content: center
    align-items: center
    text-align: center
    display: flex
.btn_1
    height: 25px
    width: 25px
    border-radius: 5px
    border: solid 0.1px  #e3e5e7 !important
    background-color: white
.btn_2    
    height: 25px
    width: 25px
    border-radius: 5px 
    background-color: black 
/* fin de la navbarre*/ 
/*section shop_at*/
.Shop_at
    // background-image: url("../IMAGE/products/img/slider-1.jpg")
    // background-repeat: no-repeat
    height: 350px
    text-align: left
.image_t
    height: 250px
    width: 350px
    justify-content: right
    display: flex
.flex
    display: flex
    justify-content: center
    background-color:#f3f3f3
    padding: 45px
.titre_h3
    color: #de4846
    font-size: 2.5em
    font-weight: 400
.shop_at_emporium
    // text-align: center
.sale_items
    border: solid 1px 	#de4846
    border-radius: 25px
    background-color: 	#de4846
    height: 40px
    width: 150px
    color: white
/*  section shop_at*/
    /* fin section shop_at*/

/* Section 3images*/
.texte_9
    position: relative
    height: 400px

.img2
    position: absolute
    width: 100%
    top: 0
    height: 100%
.txt0
    z-index: 1
    color: var(--text-color)
    font-size: 50px
    border-bottom: .05em solid var(--text-color)
    padding: 0 1.2em

.imge1
    position: absolute
    width: 100%
    top: 0
    height: 100%

.img3
    position: absolute
    width: 100%
    top: 0
    height: 100%
    // position: absolute
/*  fin Section 3images*/

/* recent product*/
.titre_h2_2
    text-align: center
.image_3-1
    height: 150px 
    width: 150px
    gap: 2em
    display: flex   
.image_3-2
    height: 150px 
    width: 150px
    gap: 2em
    display: flex   
.image_3-3
    height: 150px 
    width: 150px
    gap: 2em
    display: flex
.text_3-3
    display: flex
    gap: 10em
.image_3-2  
    display: flex
    gap: 10em  
/*fin recent product*/

/*Discover Thousands Of Great Products*/
.Discover_Thousands_Of_Great_Products
    background-image: url('../IMAGE/products/img/cta-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 50vh
    text-align: center
    color: white
    display: flex
    align-items: center
    width: 100%
    justify-content: center
.learn_more
    border: solid 1px  #DC143C  
    background-color: #DC143C
    height: 30px
    width: 150px
    border-radius: 3px
    color: white 
    text-align: center
    align-items: center
    justify-content: center

.learne_more h2
    text-align: center
    align-items: center
/* fin Discover Thousands Of Great Products*/
/* carouselle*/
.carousel
    display: flex
    gap: 3em
    justify-content: center 
.colo_red
    color:  #DC143C  
    font-weight: bold
    font-size: 20px
.change
    text-decoration:  line-through 
.carousel_image
    height: 350px
    width: 350px
.title_01
    display: flex
    justify-content: center
    align-items: center
.titre_caroussel
    text-align: center
.boule
    border: solid 1px black
    border-radius: 50px
    height:20px
    width:20px
.bulle
    gap: 5em    
    display: flex
    justify-content: center
.rounds
    .boule
    border-radius: 50px
    height:50px
    width:50px
    border: solid 1px  #DC143C  
    background-color: #DC143C
    border-radius: 60px
    justify-content: center
    display: flex 
    align-items: center
    color: white
    display: flex
    justify-content: center
    align-items: center
.cercles_reds
    display: flex
    justify-content: center
    align-items: center
    gap: 2em
.cerle1
    display: flex
    justify-content: center
    align-items: center
    gap: 1.5em
.rondes
    display: flex
    gap: 1em 
    display: flex
    justify-content: center
    align-items: center
.div_grande
    justify-content: center
    align-items: center        
/* fin carouselle*/
/* learne more 3div*/
.fontowsone_3
    display: flex
    gap: 2em
    justify-content: center

.fontowsone
    background-color: #f3f2f3
    height: 400px
    width: 550PX

.fa-sharp
    height: 80px
    color: #70757c
    align-items: center
    
.font
    color: white
    background-color: #5c6166
    height: 25px
    width: 150px
    border: solid 1px gray
    border-radius: 3px
    text-align: center
/* fin learne more 3div*/
/*footer*/    
.footer
    height: 250px
    background-color:#343a40
    color: #cccec9
    display: flex
    gap: 5em
    justify-content: center
    align-items: center
    .tag_cloud
        gap: 1em
        align-items: center
        justify-content: center
.partie_1
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_2
       border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_3
     border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_4
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_5
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9 
    width: 80px
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color:#cccec9 
    width: 80px

/* fin footer*/    
/* .copyright*/
.copyright
    background-color: #000000
    color: #5a666f
    height: 80px
    display: flex
    justify-content: center
    align-items: center
/* fin .copyright*/


