@import _fontswrap
// https://github.com/dangvanthanh/carousel.sass
@import carousel

@include carousel(4)

// .body-body
//     @media (max-width: 1440px) { 
//         .body-body{
//             display: flex
//            flex-wrap: warp
//             }
//          }
body
    font-family: police
    --color-text: black
    --color-text-image: white
    --color-background: white

form
    > div
        display: grid
        grid-template-columns: 1fr 2fr
        padding: 1em 0
    flex-direction: column
    display: flex
.font
    display: flex !important
    justify-content: center !important
    text-align: center !important
    align-items: center !important
.taille
    height: 300px !important
    width: 550px !important
.img_style
    height: 350px !important
    width: 450px !important
    display: flex
    justify-content: center
    align-items: center
    &:hover
        transform: scale(1.05)
        transition: 0.7s
.taille
    height: 150px
    width: 150px
.rdn    
    color: black !important
.txte_style
    display: flex
    justify-content: center 
    align-items: center
    text-align: center
.para_texte
    display: flex
    justify-content: center 
    align-items: center
    text-align: center
.prix_texte
    color: red
    display: flex
    justify-content: center 
    align-items: center
    text-align: center

#modal-container
    display: none
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0,0,0,.5)
    z-index: 100
    padding: 5em
    width: 50em
    margin: 0 auto

    .modal-connexion-form
        background-color: var(--color-background)
        border-radius: 1em
        margin: 5em auto
        padding: 2em
@media screen and (min-width: 320px) and (max-width: 900px)        
    #trois-images
        display: flex
        flex-direction: column
        flex-wrap: wrap
.flex-row
    display: flex
    flex-direction: row

.flex-col
    display: flex
    flex-direction: column

.grid-container
    display: grid
    gap: 1em

    /*navbarre*/
.emporium
    justify-content: center
    align-items: center
    text-align: center
    display: flex
    font-size: 45px
    font-weight: bold
.pos-f-t 
    // background-color: white  
        background-color: #ffffff51
@media screen and (min-width: 320px) and (max-width: 900px)        
    .center
        display: flex
        flex-direction: column
        flex-wrap: wrap
.center
    justify-content: center
    align-items: center
    display: flex
    gap: 10em
    background-color: #ffffff51
    position: fixed-end
    color: #aaafb8
    text-decoration: none
    position: sticky !important
    top: 0 !important
@media screen and (min-width: 320px) and (max-width: 900px)        
    .flex
        display: flex
        flex-direction: column
        flex-wrap: wrap
.btn_nav
    gap: 15em
    display: flex
    background-color: #ffffff51
.nav
    color: black
    list-style-type: none
    style-decoration: none
    display: flex
    gap: 3em
    justify-content: center
    align-items: center
    text-align: left
    text-decoration: none
    // background-color: white
    text-align: center
    position: sticky !important
    top: 0 !important

.navbarr_all
    gap: 2em
    justify-content: left
    display: flex
    align-items: left
    text-decoration: none
    // background-color: white
    position: sticky !important
    top: 0 !important
    background-color: #ffffff51

nav
    position: sticky !important
    top: 0 !important
    background-color: #ffffff51
.navbarre
    gap: 2em
    justify-content: left
    display: flex
    align-items: left
    text-align: left
    // background-color: transparent
    text-decoration: none
    position: sticky !important
    top: 0 !important
    background-color: #ffffff51
.btn_all
    gap: 0.5em
    display: flex
    position: sticky !important
    top: 0 !important
.connexion 
    border: #6c757d
    background-color: #6c757d
    color: white
    height: 2em
    width: 6em
    justify-content: center
    align-items: center
    text-align: center
    display: flex
    position: sticky !important
    top: 0 !important
.btn_1
    height: 25px
    width: 25px
    border-radius: 5px
    border: solid 0.1px  #e3e5e7 !important
    background-color: white
.btn_2    
    height: 25px
    width: 25px
    border-radius: 5px 
    background-color: black 
/* fin de la navbarre*/ 
/*section shop_at*/
.Shop_at
    // background-image: url("../IMAGE/products/img/slider-1.jpg")
    // background-repeat: no-repeat
    height: 350px
    text-align: left
.image_t
    height: 250px
    width: 350px
    justify-content: right
    display: flex
.flex
    display: flex
    justify-content: center
    background-color:#f3f3f3
    padding: 45px
.titre_h3
    color: #de4846
    font-size: 2.5em
    font-weight: 400
.shop_at_emporium
    // text-align: center
.sale_items
    border: solid 1px 	#de4846
    border-radius: 25px
    background-color: 	#de4846
    height: 40px
    width: 150px
    color: white
/*  section shop_at*/
    /* fin section shop_at*/

/* Section 3images*/
#trois-images
    margin: 3em 0
    grid-template-columns: 1fr 1fr 1fr
    > div
        position: relative
        height: 20em
        background-position: center
        background-size: cover
        > div
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            text-align: center
            padding-top: 6.5em
            > span
                color: var(--color-text-image)
                font-size: 3em
                border-bottom: .08em solid var(--color-text-image)
                padding: 0 1em .2em
        &:hover
            > div
                background-color: rgba(0, 0, 0, .4)
                >span
                    padding: 0 0 .2em
        &.image-1
            background-image: url("../IMAGE/products/services/service-1.jpg")
        &.image-2
            background-image: url("../IMAGE/products/services/service-2.jpg")
        &.image-3
            background-image: url("../IMAGE/products/services/slider-3.jpg")

/*  fin Section 3images*/

.section-js
    margin: 5em 0
    > div
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        margin:  0 15em
        gap: 2em

/* recent product*/
.titre_h2_2
    text-align: center
.image_3-1
    height: 150px 
    width: 150px
    gap: 2em
    display: flex   
.image_3-2
    height: 150px 
    width: 150px
    gap: 2em
    display: flex   
.image_3-3
    height: 150px 
    width: 150px
    gap: 2em
    display: flex
.text_3-3
    display: flex
    gap: 10em
.image_3-2  
    display: flex
    gap: 10em  
/*fin recent product*/

/*Discover Thousands Of Great Products*/

.Discover_Thousands_Of_Great_Products
    background-image: url('../IMAGE/products/img/cta-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    height: 50vh
    text-align: center
    color: white
    display: flex
    align-items: center
    width: 100%
    justify-content: center

@media screen and (min-width: 320px) and (max-width: 900px)        
    .Discover_Thousands_Of_Great_Products
        display: flex
        flex-direction: column
        flex-wrap: wrap
.learn_more
    border: solid 1px  #DC143C  
    background-color: #DC143C
    height: 30px
    width: 150px
    border-radius: 3px
    color: white 
    text-align: center
    align-items: center
    justify-content: center

.learne_more h2
    text-align: center
    align-items: center
/* fin Discover Thousands Of Great Products*/
/* carouselle*/
.carousel
    display: flex
    gap: 3em
    justify-content: center 
.colo_red
    color:  #DC143C  
    font-weight: bold
    font-size: 20px
.change
    text-decoration:  line-through 
.carousel_image
    height: 350px
    width: 350px
.title_01
    display: flex
    justify-content: center
    align-items: center
.titre_caroussel
    text-align: center
.boule
    border: solid 1px black
    border-radius: 50px
    height:20px
    width:20px
.bulle
    gap: 5em    
    display: flex
    justify-content: center
.rounds
    .boule
    border-radius: 50px
    height:50px
    width:50px
    border: solid 1px  #DC143C  
    background-color: #DC143C
    border-radius: 60px
    justify-content: center
    display: flex 
    align-items: center
    color: white
    display: flex
    justify-content: center
    align-items: center
.cercles_reds
    display: flex
    justify-content: center
    align-items: center
    gap: 2em
.cerle1
    display: flex
    justify-content: center
    align-items: center
    gap: 1.5em
.rondes
    display: flex
    gap: 1em 
    display: flex
    justify-content: center
    align-items: center
.div_grande
    justify-content: center
    align-items: center        
/* fin carouselle*/

// carouselle olivier
.carousel__item
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    gap: 1em
    height: 50em
    > div
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        > h4
            font-size: 2.5em
        > span
            font-size: 1.2em
            > .barrer
                text-decoration: line-through
                color: red
                padding-right: .5em
        >rdn
        // border: 1px solid black !important
// fin carouselle olivier


/* learne more 3div*/
.fontowsone_3
    display: flex
    gap: 2em
    justify-content: center

.fontowsone
    background-color: #f3f2f3
    height: 400px
    width: 500px
    &:hover 
        background-color: #de4846
        color: withe
// &:hover
    
.fa-sharp
    height: 80px
    color: #70757c
    align-items: center
    
.font
    color: white
    background-color: #5c6166
    height: 25px
    width: 150px
    border: solid 1px gray
    border-radius: 3px
    text-align: center
/* fin learne more 3div*/
/*footer*/    
@media screen and (min-width: 320px) and (max-width: 900px)        
.footer
        display: flex
        flex-direction: column
        flex-wrap: wrap
.footer
    height: 250px
    background-color:#343a40
    color: #cccec9
    display: flex
    gap: 5em
    justify-content: center
    align-items: center
    .tag_cloud
        gap: 1em
        align-items: center
        justify-content: center
.partie_1
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_2
       border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_3
     border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_4
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9
    width: 80px
    .partie_5
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color: #cccec9 
    width: 80px
    border: solid 0.2px white
    border-radius: 0.5em
    background-color:   #2F4F4F
    color:#cccec9 
    width: 80px

/* fin footer*/    
/* .copyright*/
.copyright
    background-color: #000000
    color: #5a666f
    height: 80px
    display: flex
    justify-content: center
    align-items: center
/* fin .copyright*/


