@font-face {
  font-family: police;
  src: url(./Poppins/Poppins-semibold);
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(1), .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(4) {
  opacity: 1 !important;
  z-index: 3;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel > input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.carousel > input[type=radio]:checked ~ .carousel__prev > label,
.carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}
.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.carousel__item img {
  width: 100%;
  vertical-align: middle;
}
.carousel__prev > label, .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: 0.5 !important;
}
.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.carousel__prev > label:before, .carousel__next > label:before {
  background: linear-gradient(to top, white 0%, white 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, white 0%, white 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.carousel__prev > label {
  left: 2%;
}
.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.carousel__next > label {
  right: 2%;
}
.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
}

body {
  font-family: police;
  --color-text: black;
  --color-text-image: white;
  --color-background: white;
}

form {
  flex-direction: column;
  display: flex;
}
form > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1em 0;
}
form .taille {
  height: 150px;
  width: 150px;
}

.img_style {
  height: 350px !important;
  width: 450px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_style:hover {
  transform: scale(1.05);
  transition: 0.7s;
}

.txte_style {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.para_texte {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prix_texte {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#modal-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 5em;
  width: 50em;
  margin: 0 auto;
}
#modal-container .modal-connexion-form {
  background-color: var(--color-background);
  border-radius: 1em;
  margin: 5em auto;
  padding: 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  gap: 1em;
  /*navbarre*/
}

.emporium {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 45px;
  font-weight: bold;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10em;
  background-color: rgba(255, 255, 255, 0.3176470588);
  position: fixed-end;
  color: #aaafb8;
  text-decoration: none;
  position: sticky !important;
  top: 0 !important;
}

.btn_nav {
  gap: 15em;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3176470588);
}

.nav {
  color: black;
  list-style-type: none;
  style-decoration: none;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  text-align: left;
  text-decoration: none;
  text-align: center;
  position: sticky !important;
  top: 0 !important;
}

.navbarr_all {
  gap: 2em;
  justify-content: left;
  display: flex;
  align-items: left;
  text-decoration: none;
  position: sticky !important;
  top: 0 !important;
  background-color: rgba(255, 255, 255, 0.3176470588);
}

nav {
  position: sticky !important;
  top: 0 !important;
  background-color: rgba(255, 255, 255, 0.3176470588);
}

.navbarre {
  gap: 2em;
  justify-content: left;
  display: flex;
  align-items: left;
  text-align: left;
  text-decoration: none;
  position: sticky !important;
  top: 0 !important;
  background-color: rgba(255, 255, 255, 0.3176470588);
}

.btn_all {
  gap: 0.5em;
  display: flex;
  position: sticky !important;
  top: 0 !important;
}

.connexion {
  border: #6c757d;
  background-color: #6c757d;
  color: white;
  height: 2em;
  width: 6em;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: sticky !important;
  top: 0 !important;
}

.btn_1 {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: solid 0.1px #e3e5e7 !important;
  background-color: white;
}

.btn_2 {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: black;
}

/* fin de la navbarre*/ 
/*section shop_at*/
.Shop_at {
  height: 350px;
  text-align: left;
}

.image_t {
  height: 250px;
  width: 350px;
  justify-content: right;
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 45px;
}

.titre_h3 {
  color: #de4846;
  font-size: 2.5em;
  font-weight: 400;
}

.sale_items {
  border: solid 1px #de4846;
  border-radius: 25px;
  background-color: #de4846;
  height: 40px;
  width: 150px;
  color: white;
}

/*  section shop_at*/
 *  /* fin section shop_at*/
/* Section 3images*/
#trois-images {
  margin: 3em 0;
  grid-template-columns: 1fr 1fr 1fr;
}
#trois-images > div {
  position: relative;
  height: 20em;
  background-position: center;
  background-size: cover;
}
#trois-images > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 6.5em;
}
#trois-images > div > div > span {
  color: var(--color-text-image);
  font-size: 3em;
  border-bottom: 0.08em solid var(--color-text-image);
  padding: 0 1em 0.2em;
}
#trois-images > div:hover > div {
  background-color: rgba(0, 0, 0, 0.4);
}
#trois-images > div:hover > div > span {
  padding: 0 0 0.2em;
}
#trois-images > div.image-1 {
  background-image: url("../IMAGE/products/services/service-1.jpg");
}
#trois-images > div.image-2 {
  background-image: url("../IMAGE/products/services/service-2.jpg");
}
#trois-images > div.image-3 {
  background-image: url("../IMAGE/products/services/slider-3.jpg");
}

/*  fin Section 3images*/
.section-js {
  margin: 5em 0;
}
.section-js > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 15em;
  gap: 2em;
}

/* recent product*/
.titre_h2_2 {
  text-align: center;
}

.image_3-1 {
  height: 150px;
  width: 150px;
  gap: 2em;
  display: flex;
}

.image_3-2 {
  height: 150px;
  width: 150px;
  gap: 2em;
  display: flex;
}

.image_3-3 {
  height: 150px;
  width: 150px;
  gap: 2em;
  display: flex;
}

.text_3-3 {
  display: flex;
  gap: 10em;
}

.image_3-2 {
  display: flex;
  gap: 10em;
}

/*fin recent product*/
/*Discover Thousands Of Great Products*/
.Discover_Thousands_Of_Great_Products {
  background-image: url("../IMAGE/products/img/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.learn_more {
  border: solid 1px #DC143C;
  background-color: #DC143C;
  height: 30px;
  width: 150px;
  border-radius: 3px;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.learne_more h2 {
  text-align: center;
  align-items: center;
}

/* fin Discover Thousands Of Great Products*/
/* carouselle*/
.carousel {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.colo_red {
  color: #DC143C;
  font-weight: bold;
  font-size: 20px;
}

.change {
  text-decoration: line-through;
}

.carousel_image {
  height: 350px;
  width: 350px;
}

.title_01 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre_caroussel {
  text-align: center;
}

.boule {
  border: solid 1px black;
  border-radius: 50px;
  height: 20px;
  width: 20px;
}

.bulle {
  gap: 5em;
  display: flex;
  justify-content: center;
}

.rounds {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: solid 1px #DC143C;
  background-color: #DC143C;
  border-radius: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cercles_reds {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.cerle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.rondes {
  display: flex;
  gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_grande {
  justify-content: center;
  align-items: center;
}

/* fin carouselle*/
.carousel__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  height: 50em;
}
.carousel__item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.carousel__item > div > h4 {
  font-size: 2.5em;
}
.carousel__item > div > span {
  font-size: 1.2em;
}
.carousel__item > div > span > .barrer {
  text-decoration: line-through;
  color: red;
  padding-right: 0.5em;
}

/* learne more 3div*/
.fontowsone_3 {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.fontowsone {
  background-color: #f3f2f3;
  height: 400px;
  width: 500px;
}
.fontowsone:hover {
  background-color: #de4846;
  color: withe;
}

.fa-sharp {
  height: 80px;
  color: #70757c;
  align-items: center;
}

.font {
  color: white;
  background-color: #5c6166;
  height: 25px;
  width: 150px;
  border: solid 1px gray;
  border-radius: 3px;
  text-align: center;
}

/* fin learne more 3div*/
/*footer*/    
.footer {
  height: 250px;
  background-color: #343a40;
  color: #cccec9;
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
}
.footer .tag_cloud {
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.partie_1 {
  border: solid 0.2px white;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
  border: solid 0.2px white;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
  border: solid 0.2px white;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
  border: solid 0.2px white;
  border-radius: 0.5em;
  background-color: #2F4F4F;
  color: #cccec9;
  width: 80px;
}
.partie_1 .partie_2 {
  border: solid 0.2px white;
}
.partie_1 .partie_3 {
  border: solid 0.2px white;
}
/* fin footer*/    
/* .copyright*/
.copyright {
  background-color: #000000;
  color: #5a666f;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fin .copyright*/

/*# sourceMappingURL=style.css.map */
